<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timer Application that integrates each of the parts.</title>
    <script src="timer.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="timer.css">
</head>

<body>
    <main>
        <div class="control-panel">
            <!-- This should toggle between Resume/Pause -->
            <button id="start">Start</button>
            <button id="stop">Stop</button>
            <button id="reset">Reset</button>
            <button id="select">Select</button>
            <button id="addTask">New</button>
        </div>
        <div class="task-list">
            <div class="task" data-task-id="0">
                <div class="time-display">
                    <input type="text" name="" class="hours" placeholder="HH">:
                    <input type="text" name="" class="minutes" placeholder="mm">:
                    <input type="text" name="" class="seconds" placeholder="ss">
                    <div class="task-menu">
                        <div class="material-icons deleteBtn">delete</div>
                    </div>
                </div>
                <div class="task-label">
                    <input type="text" name="task" placeholder="Enter Task Name">
                </div>
            </div>
        </div>
    </main>
</body>

</html>