main{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 500px;
    border: black solid 1px;
    background-color: bisque;
}

/* Control panel that houses above panels. @todo: this should be moved up? */

.control-panel{
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    background-color: rgb(217, 217, 219);
    border: rgb(160, 160, 160) solid 1px;
    margin: 5px 5px 0px 5px;
}

.control-panel>*{
    flex-flow: 1;
    width: 100%;
}

.list {
    overflow: hidden;
    overflow-y: scroll;
    /* relative to browser view-port */
    height: 80vh;
    background-color: rgb(217, 217, 219);
    border: rgb(160, 160, 160) solid 1px;
    padding: 0px 10px 0px 10px;
    margin: 5px;
}

.task{
    border: rgb(177, 205, 249) ridge 1px;
    border-radius: 10px;
    height: 20%;
    background-color: rgb(234, 242, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    margin: 1px;
}

.time-display{
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.time-display,.task-label{
    display: flex;
    margin: 3px;
    justify-content: start;
}

.time-display>input{
    font-size: 95%;
    width: 30%;
}

.task-label>input{
    width: 99%;
    height: 15%;
}

.task-menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.task-movebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.btn:hover{
    cursor: pointer;
}