.imported-task-list{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: gray;
}
.imported-task{
    display: flex;
    margin: 5px;
    padding: 5px;
    border: rgb(177, 205, 249) ridge 1px;
    border-radius: 10px;
    background-color: rgb(234, 242, 255);
}
.imported-task-body{
    display: flex;
    flex-direction: column;
}