main{
    display: flex;
}

.timer-column{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 500px;
    font-size: 2em;
    border: black solid 1px;
    background-color: bisque;
}

.config-column{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border: black solid 1px;
    padding: 1px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Styling for each tab page */
.config-column>.panel{
    display: none;
}

.config-column>.panel.active{
    display: block;
}

.video-control{
    display: flex;
    justify-content: space-between;
}

.video-control>*{
    /* stretch to fill box. applied on flex-children. */
    flex-grow: 1;
}

.video{
    background-color: aqua;
}

.imported-task-list{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: gray;
}
.imported-task{
    display: flex;
    margin: 5px;
    padding: 5px;
    border: rgb(177, 205, 249) ridge 1px;
    border-radius: 10px;
    background-color: rgb(234, 242, 255);
}
.imported-task-body{
    display: flex;
    flex-direction: column;
}

.control-panel{
    display: flex;
    justify-content: space-around;
    background-color: rgb(217, 217, 219);
    border: rgb(160, 160, 160) solid 1px;
    margin: 5px 5px 0px 5px;
}

.task-list {
    overflow: hidden;
    overflow-y: scroll;
    /* relative to browser view-port */
    height: 80vh;
    background-color: rgb(217, 217, 219);
    border: rgb(160, 160, 160) solid 1px;
    padding: 0px 10px 0px 10px;
    margin: 5px;
}

.task{
    border: rgb(177, 205, 249) ridge 1px;
    border-radius: 10px;
    height: 20%;
    background-color: rgb(234, 242, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    margin: 1px;
}

.time-display,.task-label{
    display: flex;
    margin: 3px;
    justify-content: start;
}

.time-display>input{
    width: 30%;
    font-size: 90%;
}

.task-label>input{
    width: 99%;
    height: 15%;
}

.task-menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.task-movebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.btn:hover{
    cursor: pointer;
}